# Project dependencies
.cache
.env
node_modules
yarn-error.log
logs
*.log
npm-debug.log
yarn-debug.log

# Ignore in favour of yarn
package-lock.json

# Build directory
/public

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
